---
marp: true
title: '[[title]]'
author: [[user]]@santeacademie.com
paginate: true
theme: santeacademie
header: '![height:30px](https://sante.ac/logo-white-label)'
footer: '**[[title]]**'
---
<!-- _paginate: skip -->
<!-- _footer: '' -->
<!-- _class: invert top -->

![bg right:33%](https://images.pexels.com/photos/3009205/pexels-photo-3009205.jpeg)

# [[title]]

##### "[[caption]]"

> [[author]]

---
# Slide 1
<!-- _class: invert top amber -->

```bash
# hello
```

--- 

# Slide 2
<!-- _class: invert top teal -->
```bash
# world
```

---
<!-- _class: invert flat pink center -->
<!-- _footer: '' -->
<!-- _paginate: 'skip' -->
<style scoped>section{text-align:center;}</style>
# Merci !

![height:300px](https://i.imgur.com/CVAWdaB.gif)
